:root {
    --cor-primaria: #66f;
    --cor-secundaria: orange;
    --cor-ancora: #66f;
    --cor-fundo: rgb(85, 91, 131);
}

.l-nav {
    width: 90%;
    margin: auto;
    /* border-width: 1px; */
}

body {
    background-color: #c3e9bd;
}

main {
    width: 90%;
    margin: auto;
}

section {
    background-color: white;
    border-radius: 5px;
}

.pedidos__btn {
    background-color: var(--cor-primaria);

    &:hover {
        background-color: var(--cor-secundaria);
    }
}

.pedidos__qtd {
    &::before {
        content: " x ";
    }
}

.l-nav {
    background-color: var(--cor-fundo);
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.nav__link {
    background-color: var(--cor-primaria);
    border-top-style: solid;
    border-top-color: var(--cor-secundaria);
    border-top-width: 0.25rem;
    border-top: 10px;
    border-radius: 10%;
    padding: 0.5rem;

    &:hover {
        background-color: var(--cor-secundaria);
    }
}

.titulo {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.titulo__head {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: medium;
}

.descricao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-style: italic;
}

.titulo__preco {
    font-size: x-small;

    &::before {
        content: "R$ ";
    }
}

.prato {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#total-comanda {
    font-weight: bolder;
    color: blue;
}

.rodape {
    background-color: rgb(253, 187, 44);
    padding: 5px;
    text-align: center;
}